services:
    node:
        container_name: petbot
        image: "node:20"
        user: "node"
        restart: always
        working_dir: /home/node/app
        volumes:
            - ./:/home/node/app
        entrypoint: []
        tty: true
        command: sh -c 'npm run dev:tui'
